/* button:hover{
background-color: black;
color: white;
} */
 button:active{
    background-color: aqua;
    color: red;
 }
 p:active{
    font-weight: bold;
    color: green;
 }

 input[type="radio"]:checked +label{
    color: red;
    font-weight: bold;
 }
.post:nth-of-type(2){
    background-color: blanchedalmond;
}