/* button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
} */

/* button:hover {
    background-color: red;
} */

ul li:nth-child(odd) {
    background-color: lightgray;
}
ul li:nth-child(even) {
    background-color: white;
}

input {
    padding: 10px;
    border: 2px solid gray;
}
input:focus {
    border-color: blue;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:active {
    background-color: green;
}